{% extends 'author_base.html' %}

{% block body %}
 <!-- navbar end here -->
 <div style="background-color: aliceblue;">

  <div class="container">
      <div class="row align-items-center" >
          <div class="col my-2" >
              <div>
                  <h3>Your Post: 5</h3>
              </div>
          </div>
          <div class="col my-2">
              <h3>Your Approved Post: 10</h3>
          </div>
          <div class="col my-2">
              <h3>Your Pending Post: 40</h3>
          </div>
      </div>
  </div>
</div>

{% endblock body %}