{% extends 'home_base.html' %}
{% load humanize %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="news-post-wrapper">
        <div class="news-post-wrapper-sm ">
          <h1 class="text-center">
            {{new.title}}
          </h1>
          <div class="text-center">
            <a href="#" class="btn btn-dark font-weight-bold mb-4">News</a>
          </div>
          <p
            class="fs-15 d-flex justify-content-center align-items-center m-0"
          >
            <img
              src="{{new.main_image_url}}"
              alt=""
              class="img-xs img-rounded mr-2"
            />
            {{new.writer.name}} | {{new.date|naturaltime}}
          </p>
          <div class="pt-4 pb-4">
            {{new.body|safe}}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}